@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Part I</h1>

<strong>Instructions:</strong>

<p>Please create either a Windows Form or Web application that will implement 2 out of the 5 questions listed below.  When testing the questions you’ve implemented, the UI should provide the ability for the user to enter the appropriate input for a particular problem.  Each problem should be able to run independently from each other.</p>

<strong>@Html.ActionLink("Q3", "Q3")</strong>
<p>Given a list of space separated words, reverse the order of the words.  There will be exactly one space character between each pair of consecutive words.  For example, [hello my world] would become [world my hello].</p>

<p>What is the run time for this algorithm in O() notation?</p>

<strong>@Html.ActionLink("Q4", "Q4")</strong>
<p>Find the sum of all the multiples of 3 or 5 below 1000.</p>
<p>If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9.  The sum of these multiples is 23.</p>

<p>What is the run time for this algorithm in O() notation?</p>

